<header> 
  <nav class="navbar navbar-expand-lg"> 
    <div class="container">
      <a class="navbar-brand" href="#">Queuer</a><a class="nav-links ml-auto" href="#movie-search">Search</a>
      <button class="btn btn-primary my-2 my-sm-0" id="login-btn" type="submit">Login</button>
    </div> 
  </nav>
</header>

<div class="card-intro">
    <div class="container">
      <div class="title-text"> 
        <h1 class="text-center" id="main-title">Like Spotify but for movies</h1> 
        <h4 class="text-center" id="second-title">Search, review and create playlists for all your favorite movies</h4>
      </div>
    </div>
</div>

</div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="playlist-container">
        <h1 class="text-center title-text">Create A Playlist</h1>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="text-center">Playlist's Name</th>
              <th class="text-center">Number of Movies</th>
              <th class="text-center">Playlist's Movies</th>
              {{!-- <th>New Movie</th> --}}
              <th class="text-center">Delete Playlist</th>
            </tr>
          </thead>
          <tbody>
            <tr id="form-row">
              <form id="playlist-form">
                <td colspan="4">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="playlist-name" placeholder="Your Playlist's Name" aria-label="Playlist's Name" aria-describedby="button-addon2">
                    <div class="button-div input-group-append">
                      <button class="btn btn-primary playlist-btn" id="button-addon2" type="submit">Button</button>
                    </div>
                  </div>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class="card-movie-search row justify-content-center" id="movie-search">
    <div class="col-8">
      <!-- Current Movies-->
      <h1 class="text-center title-text" id="movie-header">Add Movies To Your Playlist</h1>
          <div class="form">
            <div class="col-m6">
              <div class="form-group">
                <select class="custom-select" id="playlist" placeholder="Select Playlist">
                  <option selected>Select a playlist</option>
                </select>
              </div>
            </div>

            <div class="input-group mb-3 playlist-form">
              <input class="form-control" id="movie-search" placeholder="Search and add movies" type="text" aria-label="Search and add movies" aria-describedby="button-addon2">
              <div class="button-div input-group-append">
                 <!-- button for ALL MOVIES -->
                <button class="btn btn-primary submitAll" id="button-addon2" type="submit">Search Movies</button>
              </div>
            </div>
            {{!-- <div class="col s12 m6">
                <button class="btn blue darken-3 z-depth-3 " id="submit" type="submit"><strong>Movie</strong>
                </button>
              </div> --}}
          </div>
    </div>

    <!-- Entry Form FOR ALL MOVIES -->
    <div class="container all-movies-container">
      <div class="justify-content-center" id="all-movies-row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-body">
            <div class="row" id="allmovie-list"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  {{!-- Testing my playlists --}}
<div class="container shadow p-3 mb-5 bg-white rounded">
  <h1 class="text-center title-text"> All Playlists</h1>
  <hr>
  <div class="row">
    {{#each playlists}}
        <div class="col-4">
          <div class="card shadow-lg p-3 mb-5 bg-white rounded" >
            <div class="card-body dropdown">
              <h2 style = "text-transform: uppercase" class="text-center card-title text-primary trigger ">{{name}}</h2>
               {{#each Movies}}
                <div class=" card-text content text-center">
                  <h4 data-id={{this.id}} class="text-info text-center movieid"> {{title}} </h4>
                  <img class="img-fluid img-thumbnail text-center" src={{image}} alt="#" height="52" width="52">
                  <p class="text-center">Year: {{year}}</p>
                  <p class="text-center"> <a href={{link}} target="_blank"> IMDB Link </a></p>
                  <p><i class="far fa-trash-alt"></i></p>
                  <hr>
               </div>
               {{else}}
                  <p class="text-muted"> No movies have been added</p>
              {{/each}}
            </div>
          </div>
        </div>
    {{/each}}
  </div>
</div>


<!--JavaScript at end of body for optimized loading-->
<!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
<script src="/js/playlists.js"></script>
{{!-- <script src="/js/dropdown.js"></script> --}}